@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
:root{
    --btn-download:#912FAD;
    --text-primary:#715092;
    --text-title:#513172;
    --text-about:#76708b;
}
body{
    background-color: rgb(36, 36, 36);
    width: 100%;
    position: relative;
}

.container{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.2em .90em;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}
.container .logo{
    font-size: .70em;
    text-transform: capitalize;
}
.container .btn{
    padding: .70em .80em;
    border: 1px solid transparent;
    background-color: var(--btn-download);
}
.container .btn a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.hero-card{
    width: 100%;
    margin-top: 6em;
}
.hero-card .card-grid{
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    align-items: center;
    justify-content: center;

}
.hero-card .card-grid .card-box{
    width: 100%;
    display: block;
    margin: 20px auto;
    width: 350px;
    background-color: #b4aeca;
    border-radius: 5px;
}
.hero-card .card-grid .card-box .image-box{
    max-width: 350px;
    object-fit: cover;
    border-radius: 5px;
}
.hero-card .card-grid .card-box .image-box img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.hero-card .card-grid .card-box .text-box{
    padding: .50em .90em;
}
.hero-card .card-grid .card-box .text-box h2{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 800;
}






   .rodape-techdesigners{
     width: 100%;
     background-color: #212022;
     position: relative;
   }

   .rodape-techdesigners .rodape-container{
    display: flex;
    flex-direction: column;
   }

   .rodape-techdesigners .rodape-container .information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    text-align: left;
   }
   .rodape-techdesigners .rodape-container .information h1{
    font-size:clamp(2em,8vw,2.4em);
    text-transform: capitalize;
    color: white;
    margin-top: .70em;
   }
   .rodape-techdesigners .rodape-container .information p{
    color: white;
   }
   .rodape-techdesigners .rodape-container .contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    margin: 30px;
  }
  .rodape-techdesigners .rodape-container .contact h3{
    text-transform: uppercase;
  }
  .rodape-techdesigners .rodape-container .contact .contact-itens{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .rodape-techdesigners .rodape-container .contact .contact-itens .gmail{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .rodape-techdesigners .rodape-container .contact .contact-itens .gmail img{
    width: 20px;
  }
  .rodape-techdesigners .rodape-container .contact .contact-itens .numbers{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .rodape-techdesigners .rodape-container .contact .contact-itens .numbers img{
    width: 20px;
  }
  .rodape-techdesigners .rodape-container .contact .contact-itens .address{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .rodape-techdesigners .rodape-container .contact .contact-itens .address img{
    width: 20px;
  }
  .rodape-techdesigners .rodape-container .contact h3{
   color: white;
   margin-top: 1.20em
  }
  .rodape-techdesigners .rodape-container .contact p{
   color: white;
   padding: .30em 0;
  }
  
  .rodape-techdesigners .direitos{
   color: white;
   text-align: center;
   padding: 1.3em;
   border-top: 1px solid white;
  }